body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url(https://media.istockphoto.com/id/1460007178/photo/library-books-on-table-and-background-for-studying-learning-and-research-in-education-school.webp?b=1&s=170667a&w=0&k=20&c=TRED57BZuROoCEP9kR85pW38PLz32onmM8106OoXeGQ=);
background-repeat: no-repeat;
background-size: cover;
}

.container {
  background-color: rgb(195, 130, 50);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form {
  display: flex;

  flex-direction: column;
  align-items: left;
}

label {
  margin: 10px 0;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #145217;
}
.style{
  font-style: oblique;
}